source/views/3d-tours.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'virtual-tours', title: 'Съемка виртуальных 3D туров' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.virtual-tours__header.service-page__header Виртуальные 3D туры
          p Виртуальный 3D тур - это отличная возможность вовлечь посетителя вашего сайта в управляемую экскурсию по объекту.  
          p В отличие от плоской фотографии виртуальные туры и сферические панорамы создают эффект присутствия. 
          p Ваш клиент имеет возможность самостоятельно осмотреться, освоиться, разглядеть то, что интересно именно ему. 
          p Наличие 3D-тура повышает продажи и конверсию сайта. Уже при просмотре клиенту хочется побывать «там» вживую. 
          p 3D тур пробуждает в клиенте доверие к фирме и, как следствие, увеличивает количество обращений.
          h3 Примеры созданных 3D-туров
          .row
            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item1.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок
                  
            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item2.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок

            .col-xs-12.col-md-4
              .virtual-tours__link href="#"
                img src="images/services-3d-tour-item3.png"
                .virtual-tours__link__content
                  p
                    strong Название места
                  p Описание и название появляются при наведении мышкой на блок
          h3 Кому подходит виртуальный тур?
          ul
            li Строительному бизнесу
            li Ресторанному бизнесу (3D-панорамы кафе, ресторана, бара, ночного клуба, каляной, чайхоны)
            li Гостиничному бизнесу (3Д тур для гостиниц, пансионатов и хостел)
            li Торговым центрам (виртуальные туры по торгово-развлекательным центрам и магазинам)
            li Автосалонам
            li Туристическому бизнесу (3D тур для индустрии развлечений и туризма)
            li Продаже недвижимости
            li Дизайнерам (3Д панорамы дизайна интерьеров и мебельных салонов)
            li Ночным клубам и РЦ
            li Торговым центрам
            li Музеям и выставкам
          h3 Преимущества 3D тура
          ul
            li Поддерживаются всеми мобильными платформами, 
            li Посмотреть 3D-тур можно, как с компьютера или ноутбука, так и с планшета, телефона. 
            li Во время просмотра виртуального тура создается WOW-эффект
            li Панорама передает, весь объем пространства с обзором в 360 °
            li Ваш зритель полностью погружен в презентацию и двигаясь по стрелкам внимательно просматривает объект;
            li Применяя VR-очки для демонстрации виртуального тура Ваш зритель останется под глубоким впечатлением от просмотра и оценит современный подход к делу.
            li Доступность просмотра объекта 24 часа в сутки;
            li Самый лучший способ создать у клиента эффект присутствия;
            li Выделение Вашей презентации, e-mail письма или сайта среди конкурентов;
          section.service-page__price от 5 000 руб
          div
            a.button.background-white.fancybox href="#callback" Расчитать стоимость создания 3D тура
            a.button.fancybox href="#" Заказать услугу


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)

dest/3d-tours.html
<!DOCTYPE html>
<!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Съемка виртуальных 3D туров</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link href="/lib/fullPage/dist/jquery.fullpage.min.css" rel="stylesheet" />
    <script src="/lib/fullPage/vendors/scrolloverflow.min.js"></script>
    <script src="/lib/fullPage/dist/jquery.fullpage.min.js"></script>
    <script src="/lib/masonry.pkgd.min.js"></script>
    <script src="/lib/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <link href="/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <script src="/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
    <base href="/" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/manifest.json" rel="manifest" />
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" />
    <meta content="#ffffff" name="theme-color" />
  </head>
  <body class="virtual-tours">
    <header class="header">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-6 col-sm-2 col-md-3">
            <a class="logo" href="/"><img src="/images/logo.png" /></a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 hidden visible-sm">
            <nav class="header__menu">
              <ul class="header__menu__list" id="menu">
                <li class="header__menu__item" data-menuanchor="about-us">
                  <a class="header__menu__link" href="/#about-us">О&nbsp;нас</a>
                </li>
                <li class="header__menu__item" data-menuanchor="services">
                  <a class="header__menu__link" href="/#services">Услуги</a>
                </li>
                <li class="header__menu__item" data-menuanchor="portfolio">
                  <a class="header__menu__link" href="/#portfolio">Портфолио</a>
                </li>
                <li class="header__menu__item" data-menuanchor="reviews">
                  <a class="header__menu__link" href="/#reviews">Отзывы</a>
                </li>
                <li class="header__menu__item" data-menuanchor="contacts">
                  <a class="header__menu__link" href="/#contacts">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3 last-md">
            <div class="ta-right">
              <a class="btn fancybox" href="#callback">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </header><main class="service-page">
      <div class="container">
        <div class="row center-xs">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 start-xs">
            <h2 class="header-2 with-line-left virtual-tours__header service-page__header">
              Виртуальные 3D туры
            </h2>
            <p>
              Виртуальный 3D тур - это отличная возможность вовлечь посетителя вашего сайта в управляемую экскурсию по объекту.  
            </p>
            <p>
              В отличие от плоской фотографии виртуальные туры и сферические панорамы создают эффект присутствия. 
            </p>
            <p>
              Ваш клиент имеет возможность самостоятельно осмотреться, освоиться, разглядеть то, что интересно именно ему. 
            </p>
            <p>
              Наличие 3D-тура повышает продажи и конверсию сайта. Уже при просмотре клиенту хочется побывать «там» вживую. 
            </p>
            <p>
              3D тур пробуждает в клиенте доверие к фирме и, как следствие, увеличивает количество обращений.
            </p>
            <h3>
              Примеры созданных 3D-туров
            </h3>
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="virtual-tours__link" href="#">
                  <img src="images/services-3d-tour-item1.png" />
                  <div class="virtual-tours__link__content">
                    <p>
                      <strong>Название места</strong>
                    </p>
                    <p>
                      Описание и название появляются при наведении мышкой на блок
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="virtual-tours__link" href="#">
                  <img src="images/services-3d-tour-item2.png" />
                  <div class="virtual-tours__link__content">
                    <p>
                      <strong>Название места</strong>
                    </p>
                    <p>
                      Описание и название появляются при наведении мышкой на блок
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="virtual-tours__link" href="#">
                  <img src="images/services-3d-tour-item3.png" />
                  <div class="virtual-tours__link__content">
                    <p>
                      <strong>Название места</strong>
                    </p>
                    <p>
                      Описание и название появляются при наведении мышкой на блок
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <h3>
              Кому подходит виртуальный тур?
            </h3>
            <ul>
              <li>
                Строительному бизнесу
              </li>
              <li>
                Ресторанному бизнесу (3D-панорамы кафе, ресторана, бара, ночного клуба, каляной, чайхоны)
              </li>
              <li>
                Гостиничному бизнесу (3Д тур для гостиниц, пансионатов и хостел)
              </li>
              <li>
                Торговым центрам (виртуальные туры по торгово-развлекательным центрам и магазинам)
              </li>
              <li>
                Автосалонам
              </li>
              <li>
                Туристическому бизнесу (3D тур для индустрии развлечений и туризма)
              </li>
              <li>
                Продаже недвижимости
              </li>
              <li>
                Дизайнерам (3Д панорамы дизайна интерьеров и мебельных салонов)
              </li>
              <li>
                Ночным клубам и РЦ
              </li>
              <li>
                Торговым центрам
              </li>
              <li>
                Музеям и выставкам
              </li>
            </ul>
            <h3>
              Преимущества 3D тура
            </h3>
            <ul>
              <li>
                Поддерживаются всеми мобильными платформами, 
              </li>
              <li>
                Посмотреть 3D-тур можно, как с компьютера или ноутбука, так и с планшета, телефона. 
              </li>
              <li>
                Во время просмотра виртуального тура создается WOW-эффект
              </li>
              <li>
                Панорама передает, весь объем пространства с обзором в 360 °
              </li>
              <li>
                Ваш зритель полностью погружен в презентацию и двигаясь по стрелкам внимательно просматривает объект;
              </li>
              <li>
                Применяя VR-очки для демонстрации виртуального тура Ваш зритель останется под глубоким впечатлением от просмотра и оценит современный подход к делу.
              </li>
              <li>
                Доступность просмотра объекта 24 часа в сутки;
              </li>
              <li>
                Самый лучший способ создать у клиента эффект присутствия;
              </li>
              <li>
                Выделение Вашей презентации, e-mail письма или сайта среди конкурентов;
              </li>
            </ul>
            <section class="service-page__price">
              от 5 000 руб
            </section>
            <div>
              <a class="button background-white fancybox" href="#callback">Расчитать стоимость создания 3D тура</a><a class="button fancybox" href="#">Заказать услугу</a>
            </div>
          </div>
        </div>
      </div>
    </main><footer class="footer">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">+7 922 022-96-22</address>
          </div>
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">info@mmvideostudio.ru</address>
          </div>
          <div class="col-xs-7 col-md-6"></div>
          <div class="col-xs-7 col-md-2 last-xs">
            <section class="social__links">
              <a class="social__links__item social__links__item--vk" href="https://vk.com/mmstudio_videopiar" target="_blank"></a><a class="social__links__item social__links__item--instagram" href="https://www.instagram.com/mm_studio_video/" target="_blank"></a><a class="social__links__item social__links__item--youtube" href="https://www.youtube.com/channel/UCFUr1g6LcFEYGjUEt9VDgvg" target="_blank"></a>
            </section>
          </div>
        </div>
      </div>
      <section class="scroll-icon">
        Scroll
      </section>
    </footer>
    <div class="hidden">
      <div id="callback">
        <form class="form">
          <h2 class="form__header">
            Оставить заявку
          </h2>
          <input class="form__input" name="name" placeholder="Ваше имя" required="true" type="text" /><input class="form__input" name="phone" placeholder="Ваш телефон" required="true" type="tel" /><input class="form__submit" type="submit" value="Отправить" />
        </form>
      </div>
    </div>
  </body>
</html>
