dest/all_videos.html

<!DOCTYPE html>
<!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Портфолио видеосъемок</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link href="/lib/fullPage/dist/jquery.fullpage.min.css" rel="stylesheet" />
    <script src="/lib/fullPage/vendors/scrolloverflow.min.js"></script>
    <script src="/lib/fullPage/dist/jquery.fullpage.min.js"></script>
    <script src="/lib/masonry.pkgd.min.js"></script>
    <script src="/lib/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <link href="/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <script src="/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
    <base href="/" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/manifest.json" rel="manifest" />
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" />
    <meta content="#ffffff" name="theme-color" />
  </head>
  <body class="all-videos">
    <header class="header header--fixed">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-6 col-sm-2 col-md-3">
            <a class="logo" href="/"><img src="/images/logo.png" /></a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 hidden visible-sm">
            <nav class="header__menu">
              <ul class="header__menu__list" id="menu">
                <li class="header__menu__item" data-menuanchor="about-us">
                  <a class="header__menu__link" href="/#about-us">О&nbsp;нас</a>
                </li>
                <li class="header__menu__item" data-menuanchor="services">
                  <a class="header__menu__link" href="/#services">Услуги</a>
                </li>
                <li class="header__menu__item" data-menuanchor="portfolio">
                  <a class="header__menu__link" href="/#portfolio">Портфолио</a>
                </li>
                <li class="header__menu__item" data-menuanchor="reviews">
                  <a class="header__menu__link" href="/#reviews">Отзывы</a>
                </li>
                <li class="header__menu__item" data-menuanchor="contacts">
                  <a class="header__menu__link" href="/#contacts">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3 last-md">
            <div class="ta-right">
              <a class="btn fancybox" href="#callback">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </header><footer class="footer footer--fixed">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">+7 922 022-96-22</address>
          </div>
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">info@mmvideostudio.ru</address>
          </div>
          <div class="col-xs-7 col-md-6"></div>
          <div class="col-xs-7 col-md-2 last-xs">
            <section class="social__links">
              <a class="social__links__item social__links__item--vk" href="https://vk.com/mmstudio_videopiar" target="_blank"></a><a class="social__links__item social__links__item--instagram" href="https://www.instagram.com/mm_studio_video/" target="_blank"></a><a class="social__links__item social__links__item--youtube" href="https://www.youtube.com/channel/UCFUr1g6LcFEYGjUEt9VDgvg" target="_blank"></a>
            </section>
          </div>
        </div>
      </div>
      <section class="scroll-icon">
        Scroll
      </section>
    </footer>
    <div class="hidden">
      <div id="callback">
        <form class="form">
          <h2 class="form__header">
            Оставить заявку
          </h2>
          <input class="form__input" name="name" placeholder="Ваше имя" required="true" type="text" /><input class="form__input" name="phone" placeholder="Ваш телефон" required="true" type="tel" /><input class="form__submit" type="submit" value="Отправить" />
        </form>
      </div>
    </div><main id="fullpage">
      <section class="section main-page__section">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-8">
                <section class="all-videos__video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
                </section>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="all-videos__subheader">
                  Рекламный ролик
                </div>
                <h1 class="all-videos__header">
                  Агентство контекстной рекламы "Direct is Good"
                </h1>
                <section class="all-videos__description">
                  Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
                </section>
                <section class="all-videos__duration">
                  60 минут съемки
                </section>
                <section class="all-videos__operators">
                  1 оператор
                </section>
                <section class="all-videos__price">
                  20 000 рублей
                </section>
                <a class="btn fancybox" href="#callback">Хочу так же!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-8">
                <section class="all-videos__video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
                </section>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="all-videos__subheader">
                  Рекламный ролик
                </div>
                <h1 class="all-videos__header">
                  Агентство контекстной рекламы "Direct is Good"
                </h1>
                <section class="all-videos__description">
                  Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
                </section>
                <section class="all-videos__duration">
                  60 минут съемки
                </section>
                <section class="all-videos__operators">
                  1 оператор
                </section>
                <section class="all-videos__price">
                  20 000 рублей
                </section>
                <a class="btn fancybox" href="#callback">Хочу так же!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-8">
                <section class="all-videos__video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
                </section>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="all-videos__subheader">
                  Рекламный ролик
                </div>
                <h1 class="all-videos__header">
                  Агентство контекстной рекламы "Direct is Good"
                </h1>
                <section class="all-videos__description">
                  Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
                </section>
                <section class="all-videos__duration">
                  60 минут съемки
                </section>
                <section class="all-videos__operators">
                  1 оператор
                </section>
                <section class="all-videos__price">
                  20 000 рублей
                </section>
                <a class="btn fancybox" href="#callback">Хочу так же!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-8">
                <section class="all-videos__video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
                </section>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="all-videos__subheader">
                  Рекламный ролик
                </div>
                <h1 class="all-videos__header">
                  Агентство контекстной рекламы "Direct is Good"
                </h1>
                <section class="all-videos__description">
                  Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
                </section>
                <section class="all-videos__duration">
                  60 минут съемки
                </section>
                <section class="all-videos__operators">
                  1 оператор
                </section>
                <section class="all-videos__price">
                  20 000 рублей
                </section>
                <a class="btn fancybox" href="#callback">Хочу так же!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-8">
                <section class="all-videos__video">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
                </section>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="all-videos__subheader">
                  Рекламный ролик
                </div>
                <h1 class="all-videos__header">
                  Агентство контекстной рекламы "Direct is Good"
                </h1>
                <section class="all-videos__description">
                  Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
                </section>
                <section class="all-videos__duration">
                  60 минут съемки
                </section>
                <section class="all-videos__operators">
                  1 оператор
                </section>
                <section class="all-videos__price">
                  20 000 рублей
                </section>
                <a class="btn fancybox" href="#callback">Хочу так же!</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      InitMainPage();
    </script>
  </body>
</html>

source/views/all_videos.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'all-videos', title: 'Портфолио видеосъемок' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self, {fullpage: true}) do
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {fullpage: true})
  main#fullpage
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!

    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
    section.section.main-page__section
      .main-page__section__content
        .container
          .row
            .col-xs-12.col-md-6.col-lg-8
              section.all-videos__video
                | <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5reFu007wBA" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
            .col-xs-12.col-md-6.col-lg-4
              .all-videos__subheader Рекламный ролик
              h1.all-videos__header Агентство контекстной рекламы "Direct is Good"
              section.all-videos__description Описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика описание задачи, которая стояла перед съемкой ролика.
              section.all-videos__duration 60 минут съемки
              section.all-videos__operators 1 оператор
              section.all-videos__price 20 000 рублей
              a.btn.fancybox href="#callback" Хочу так же!
  javascript:
    InitMainPage();
