source/views/index.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { title: 'MMStudio - Видеосъемка и виртуальные туры в Екатеринбурге' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self, {fullpage: true}) do
  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self, {fullpage: true})
  main#fullpage
    section.section.main-page__section.main-page__section--top data-anchor="top" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.middle-xs.top-sm.start-xs.center-sm
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row
                .col-xs-12.col-sm-8.col-lg-9
                  .row
                    .col-xs-12.col-sm-9
                      h1.header-1 Видео
                    .col-xs-12.col-sm-3.hidden.visible-sm
                      span.line-after
                  .row.start-xs.end-sm
                    .col-xs-12
                      h1.header-1 Студия
                    
                .col-xs-12.col-sm-4.col-lg-3
                  .row.top-xs
                    .col-xs-12
                      div.subheader Видеосъемка<br/>и&nbsp;виртуальные 3D туры<br/>в&nbsp;Екатеринбурге
                      a.subheader__link.video-icon href="#" Смотреть презентацию
    section.section.main-page__section.main-page__section--services data-anchor="about-us" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left О нас
                  p В нашей студии работают только высококвалифицированные специалисты с большим опытом работы, на счету у которых много роликов профессионального качества. Наши ребята не просто делают видео, они создают настоящее произведение искусства.
                  p При съемке видео мы используем самые современные технологии (гексакоптеры, электронные системы стабилизации изображения, глайдтреки и так далее), обеспечивая прекрасное качество видео и звука. Ни в одной нашей работе Вы не найдете дефектов записи.

    section.section.main-page__section.main-page__section--portfolio data-anchor="services" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Услуги
              .row
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/videofilming.html"
                    img src="images/service1.png"
                    section 
                      | Видеосъемка<br/>и&nbsp;аэросъемка
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/photographer_services.html"
                    img src="images/service2.png"
                    section 
                      | Услуги<br/>фотографа
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/scenario_creation.html"
                    img src="images/service3.png"
                    section
                      | Разработка<br/>сценария
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/video_editing.html"
                    img src="images/service4.png"
                    section
                      | Монтаж<br/>видео
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/3d-tours.html"
                    img src="images/service5.png"
                    section
                      | Виртуальные<br/>3D&nbsp;туры
                .col-xs-12.col-sm-6.col-md-4
                  a.service__item href="/radio_filming.html"
                    img src="images/service6.png"
                    section 
                      | Радио съемка

    section.section.main-page__section.main-page__section--reviews data-anchor="portfolio" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Портфолио
              article.portfolio
                .row.center-xs
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
                  .col-xs-12.col-sm-6.col-md-3
                    .portfolio__header Рекламный ролик
                    a.portfolio__item data-fancybox=true data-type="iframe" data-src="https://www.youtube.com/embed/5reFu007wBA"
                      img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg"
                      .portfolio__item__duration 2:56
              .row.center-xs
                a.button href="/all_videos.html" Смотреть все работы
    section.section.main-page__section.main-page__section--contacts data-anchor="reviews" fp-auto-height-responsive='true'
      .main-page__section__content
        .container
          .row.center-md
            .col-xs-12.col-sm-12.col-md-12.col-lg-9
              .row.start-xs
                .col-xs-12
                  h2.header-2.with-line-left Отзывы
              .row.center-xs
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review1.jpg"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review2.png"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review3.png"
                .col-xs-12.col-sm-6.col-md-3
                  figure.review__item
                    img src="images/review4.png"
    section.section.main-page__section.main-page__section--contacts data-anchor="contacts" fp-auto-height-responsive='true'
      .container
        .row.center-md
          .col-xs-12.col-sm-12.col-md-12.col-lg-9
            .row.start-xs
              .col-xs-12.col-md-7
                .row.start-xs
                  .col-xs-12
                    h2.header-2.with-line-left Контакты
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Адрес
                      .contacts__value Россия, Екатеринбург, ул.Ленина 24
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Телефон
                      .contacts__value +7 922 022 96 22
                  .col-xs-12.col-sm-4.col-md-12
                    .contacts__address
                      .contacts__name Email
                      .contacts__value info@mmvideostudio.ru
              .col-xs-12.col-md-5.end-md
                form.form
                  h2.form__header Оставить заявку
                  input.form__input type="text" placeholder="Ваше имя" required="true" name="name"
                  input.form__input type="tel" placeholder="Ваш телефон" required="true" name="phone"
                  input.form__submit type="submit" value="Отправить"
  javascript:
    InitMainPage();

dest/index.html

<!DOCTYPE html>
<!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>MMStudio - Видеосъемка и виртуальные туры в Екатеринбурге</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link href="/lib/fullPage/dist/jquery.fullpage.min.css" rel="stylesheet" />
    <script src="/lib/fullPage/vendors/scrolloverflow.min.js"></script>
    <script src="/lib/fullPage/dist/jquery.fullpage.min.js"></script>
    <script src="/lib/masonry.pkgd.min.js"></script>
    <script src="/lib/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <link href="/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <script src="/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
    <base href="/" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/manifest.json" rel="manifest" />
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" />
    <meta content="#ffffff" name="theme-color" />
  </head>
  <body>
    <header class="header header--fixed">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-6 col-sm-2 col-md-3">
            <a class="logo" href="/"><img src="/images/logo.png" /></a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 hidden visible-sm">
            <nav class="header__menu">
              <ul class="header__menu__list" id="menu">
                <li class="header__menu__item" data-menuanchor="about-us">
                  <a class="header__menu__link" href="/#about-us">О&nbsp;нас</a>
                </li>
                <li class="header__menu__item" data-menuanchor="services">
                  <a class="header__menu__link" href="/#services">Услуги</a>
                </li>
                <li class="header__menu__item" data-menuanchor="portfolio">
                  <a class="header__menu__link" href="/#portfolio">Портфолио</a>
                </li>
                <li class="header__menu__item" data-menuanchor="reviews">
                  <a class="header__menu__link" href="/#reviews">Отзывы</a>
                </li>
                <li class="header__menu__item" data-menuanchor="contacts">
                  <a class="header__menu__link" href="/#contacts">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3 last-md">
            <div class="ta-right">
              <a class="btn fancybox" href="#callback">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </header><footer class="footer footer--fixed">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">+7 922 022-96-22</address>
          </div>
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">info@mmvideostudio.ru</address>
          </div>
          <div class="col-xs-7 col-md-6"></div>
          <div class="col-xs-7 col-md-2 last-xs">
            <section class="social__links">
              <a class="social__links__item social__links__item--vk" href="https://vk.com/mmstudio_videopiar" target="_blank"></a><a class="social__links__item social__links__item--instagram" href="https://www.instagram.com/mm_studio_video/" target="_blank"></a><a class="social__links__item social__links__item--youtube" href="https://www.youtube.com/channel/UCFUr1g6LcFEYGjUEt9VDgvg" target="_blank"></a>
            </section>
          </div>
        </div>
      </div>
      <section class="scroll-icon">
        Scroll
      </section>
    </footer>
    <div class="hidden">
      <div id="callback">
        <form class="form">
          <h2 class="form__header">
            Оставить заявку
          </h2>
          <input class="form__input" name="name" placeholder="Ваше имя" required="true" type="text" /><input class="form__input" name="phone" placeholder="Ваш телефон" required="true" type="tel" /><input class="form__submit" type="submit" value="Отправить" />
        </form>
      </div>
    </div><main id="fullpage">
      <section class="section main-page__section main-page__section--top" data-anchor="top" fp-auto-height-responsive="true">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row middle-xs top-sm start-xs center-sm">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="row">
                  <div class="col-xs-12 col-sm-8 col-lg-9">
                    <div class="row">
                      <div class="col-xs-12 col-sm-9">
                        <h1 class="header-1">
                          Видео
                        </h1>
                      </div>
                      <div class="col-xs-12 col-sm-3 hidden visible-sm">
                        <span class="line-after"></span>
                      </div>
                    </div>
                    <div class="row start-xs end-sm">
                      <div class="col-xs-12">
                        <h1 class="header-1">
                          Студия
                        </h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-lg-3">
                    <div class="row top-xs">
                      <div class="col-xs-12">
                        <div class="subheader">
                          Видеосъемка<br/>и&nbsp;виртуальные 3D туры<br/>в&nbsp;Екатеринбурге
                        </div>
                        <a class="subheader__link video-icon" href="#">Смотреть презентацию</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section main-page__section--services" data-anchor="about-us" fp-auto-height-responsive="true">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row center-md">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="row start-xs">
                  <div class="col-xs-12">
                    <h2 class="header-2 with-line-left">
                      О нас
                    </h2>
                    <p>
                      В нашей студии работают только высококвалифицированные специалисты с большим опытом работы, на счету у которых много роликов профессионального качества. Наши ребята не просто делают видео, они создают настоящее произведение искусства.
                    </p>
                    <p>
                      При съемке видео мы используем самые современные технологии (гексакоптеры, электронные системы стабилизации изображения, глайдтреки и так далее), обеспечивая прекрасное качество видео и звука. Ни в одной нашей работе Вы не найдете дефектов записи.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section main-page__section--portfolio" data-anchor="services" fp-auto-height-responsive="true">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row center-md">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="row start-xs">
                  <div class="col-xs-12">
                    <h2 class="header-2 with-line-left">
                      Услуги
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/videofilming.html"><img src="images/service1.png" />
                      <section>
                        Видеосъемка<br/>и&nbsp;аэросъемка
                      </section>
                    </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/photographer_services.html"><img src="images/service2.png" />
                      <section>
                        Услуги<br/>фотографа
                      </section>
                    </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/scenario_creation.html"><img src="images/service3.png" />
                      <section>
                        Разработка<br/>сценария
                      </section>
                    </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/video_editing.html"><img src="images/service4.png" />
                      <section>
                        Монтаж<br/>видео
                      </section>
                    </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/3d-tours.html"><img src="images/service5.png" />
                      <section>
                        Виртуальные<br/>3D&nbsp;туры
                      </section>
                    </a>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <a class="service__item" href="/radio_filming.html"><img src="images/service6.png" />
                      <section>
                        Радио съемка
                      </section>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section main-page__section--reviews" data-anchor="portfolio" fp-auto-height-responsive="true">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row center-md">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="row start-xs">
                  <div class="col-xs-12">
                    <h2 class="header-2 with-line-left">
                      Портфолио
                    </h2>
                  </div>
                </div>
                <article class="portfolio">
                  <div class="row center-xs">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="portfolio__header">
                        Рекламный ролик
                      </div>
                      <a class="portfolio__item" data-fancybox="" data-src="https://www.youtube.com/embed/5reFu007wBA" data-type="iframe"><img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg" />
                        <div class="portfolio__item__duration">
                          2:56
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="portfolio__header">
                        Рекламный ролик
                      </div>
                      <a class="portfolio__item" data-fancybox="" data-src="https://www.youtube.com/embed/5reFu007wBA" data-type="iframe"><img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg" />
                        <div class="portfolio__item__duration">
                          2:56
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="portfolio__header">
                        Рекламный ролик
                      </div>
                      <a class="portfolio__item" data-fancybox="" data-src="https://www.youtube.com/embed/5reFu007wBA" data-type="iframe"><img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg" />
                        <div class="portfolio__item__duration">
                          2:56
                        </div>
                      </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="portfolio__header">
                        Рекламный ролик
                      </div>
                      <a class="portfolio__item" data-fancybox="" data-src="https://www.youtube.com/embed/5reFu007wBA" data-type="iframe"><img src="https://img.youtube.com/vi/5reFu007wBA/0.jpg" />
                        <div class="portfolio__item__duration">
                          2:56
                        </div>
                      </a>
                    </div>
                  </div>
                </article>
                <div class="row center-xs">
                  <a class="button" href="/all_videos.html">Смотреть все работы</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section main-page__section--contacts" data-anchor="reviews" fp-auto-height-responsive="true">
        <div class="main-page__section__content">
          <div class="container">
            <div class="row center-md">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <div class="row start-xs">
                  <div class="col-xs-12">
                    <h2 class="header-2 with-line-left">
                      Отзывы
                    </h2>
                  </div>
                </div>
                <div class="row center-xs">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <figure class="review__item">
                      <img src="images/review1.jpg" />
                    </figure>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <figure class="review__item">
                      <img src="images/review2.png" />
                    </figure>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <figure class="review__item">
                      <img src="images/review3.png" />
                    </figure>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <figure class="review__item">
                      <img src="images/review4.png" />
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section main-page__section main-page__section--contacts" data-anchor="contacts" fp-auto-height-responsive="true">
        <div class="container">
          <div class="row center-md">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
              <div class="row start-xs">
                <div class="col-xs-12 col-md-7">
                  <div class="row start-xs">
                    <div class="col-xs-12">
                      <h2 class="header-2 with-line-left">
                        Контакты
                      </h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12">
                      <div class="contacts__address">
                        <div class="contacts__name">
                          Адрес
                        </div>
                        <div class="contacts__value">
                          Россия, Екатеринбург, ул.Ленина 24
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12">
                      <div class="contacts__address">
                        <div class="contacts__name">
                          Телефон
                        </div>
                        <div class="contacts__value">
                          +7 922 022 96 22
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12">
                      <div class="contacts__address">
                        <div class="contacts__name">
                          Email
                        </div>
                        <div class="contacts__value">
                          info@mmvideostudio.ru
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-5 end-md">
                  <form class="form">
                    <h2 class="form__header">
                      Оставить заявку
                    </h2>
                    <input class="form__input" name="name" placeholder="Ваше имя" required="true" type="text" /><input class="form__input" name="phone" placeholder="Ваш телефон" required="true" type="tel" /><input class="form__submit" type="submit" value="Отправить" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script>
      InitMainPage();
    </script>
  </body>
</html>
