dest/videofilming.html
<!DOCTYPE html>
<!--[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"--><!--[if IE 7] <html class="no-js lt-ie9 lt-ie8"--><!--[if IE 8] <html class="no-js lt-ie9"--><!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Видео и аэросъемка</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <link href="/lib/fullPage/dist/jquery.fullpage.min.css" rel="stylesheet" />
    <script src="/lib/fullPage/vendors/scrolloverflow.min.js"></script>
    <script src="/lib/fullPage/dist/jquery.fullpage.min.js"></script>
    <script src="/lib/masonry.pkgd.min.js"></script>
    <script src="/lib/fancybox-master/dist/jquery.fancybox.min.js"></script>
    <link href="/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="/lib/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <script src="/lib/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <script src="/js/main.js"></script>
    <base href="/" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link href="/manifest.json" rel="manifest" />
    <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon" />
    <meta content="#ffffff" name="theme-color" />
  </head>
  <body class="videofilming">
    <header class="header">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-6 col-sm-2 col-md-3">
            <a class="logo" href="/"><img src="/images/logo.png" /></a>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-6 hidden visible-sm">
            <nav class="header__menu">
              <ul class="header__menu__list" id="menu">
                <li class="header__menu__item" data-menuanchor="about-us">
                  <a class="header__menu__link" href="/#about-us">О&nbsp;нас</a>
                </li>
                <li class="header__menu__item" data-menuanchor="services">
                  <a class="header__menu__link" href="/#services">Услуги</a>
                </li>
                <li class="header__menu__item" data-menuanchor="portfolio">
                  <a class="header__menu__link" href="/#portfolio">Портфолио</a>
                </li>
                <li class="header__menu__item" data-menuanchor="reviews">
                  <a class="header__menu__link" href="/#reviews">Отзывы</a>
                </li>
                <li class="header__menu__item" data-menuanchor="contacts">
                  <a class="header__menu__link" href="/#contacts">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-6 col-sm-2 col-md-3 last-md">
            <div class="ta-right">
              <a class="btn fancybox" href="#callback">Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>
    </header><main class="service-page">
      <div class="container">
        <div class="row center-xs">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 start-xs">
            <h2 class="header-2 with-line-left videofilming__header service-page__header">
              Видео и аэросъемка
            </h2>
            <p>
              Выезд на место съемки одного или нескольких видеооператоров, которые производят видеосъемку учитывая пожелания клиента. В среднем, изготовление видеоролика от момента съемки до сдачи готового видеоролика занимает 5 дней.Заказав видеосъемку вы получаете:
            </p>
            <ul>
              <li>
                Написание сценария
              </li>
              <li>
                Согласование деталей видеосъемки с клиентом
              </li>
              <li>
                Профессиональная видеосъемка
              </li>
              <li>
                Работа со звуком (озвучка, подбор музыки)
              </li>
              <li>
                Видеомонтаж/цветокоррекция
              </li>
              <li>
                Анимация/спецэффекты, добавление титров
              </li>
            </ul>
            <p>
              Дополнительно: привлечение профессиональный актеров, моделей. Поиск и подготовка локации для съемок. Аренда дополнительного оборудования и инвентаря (автомобиль , костюмы, платья).
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 start-xs">
            <div class="row middle-xs">
              <div class="col-xs-12 col-md-8 start-md">
                <a class="button background-white fancybox" href="#callback">Заказать услугу</a><a class="button fancybox" href="/portfolio.html">Смотреть работы</a>
              </div>
              <div class="col-xs-12 col-md-4 end-md">
                <div class="service-page__price">
                  от 6 000 руб<span class="icon-question tooltip" title="2 000 руб/час ( минимум 3 часа или 10 000 рублей )"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main><footer class="footer">
      <div class="container">
        <div class="row middle-xs">
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">+7 922 022-96-22</address>
          </div>
          <div class="col-xs-7 col-md-2">
            <address class="footer__address footer__address--phone">info@mmvideostudio.ru</address>
          </div>
          <div class="col-xs-7 col-md-6"></div>
          <div class="col-xs-7 col-md-2 last-xs">
            <section class="social__links">
              <a class="social__links__item social__links__item--vk" href="https://vk.com/mmstudio_videopiar" target="_blank"></a><a class="social__links__item social__links__item--instagram" href="https://www.instagram.com/mm_studio_video/" target="_blank"></a><a class="social__links__item social__links__item--youtube" href="https://www.youtube.com/channel/UCFUr1g6LcFEYGjUEt9VDgvg" target="_blank"></a>
            </section>
          </div>
        </div>
      </div>
      <section class="scroll-icon">
        Scroll
      </section>
    </footer>
    <div class="hidden">
      <div id="callback">
        <form class="form">
          <h2 class="form__header">
            Оставить заявку
          </h2>
          <input class="form__input" name="name" placeholder="Ваше имя" required="true" type="text" /><input class="form__input" name="phone" placeholder="Ваш телефон" required="true" type="tel" /><input class="form__submit" type="submit" value="Отправить" />
        </form>
      </div>
    </div>
  </body>
</html>

source/views/videofilming.slim
== Slim::Template.new(File.join(__dir__, "source/views/_head.slim")).render(self, { body_class: 'videofilming', title: 'Видео и аэросъемка' }) do
  == Slim::Template.new(File.join(__dir__, "source/views/_header.slim")).render(self) do

  main.service-page
    .container
      .row.center-xs
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          h2.header-2.with-line-left.videofilming__header.service-page__header Видео и аэросъемка
          p Выезд на место съемки одного или нескольких видеооператоров, которые производят видеосъемку учитывая пожелания клиента. В среднем, изготовление видеоролика от момента съемки до сдачи готового видеоролика занимает 5 дней.Заказав видеосъемку вы получаете:
          ul
            li Написание сценария
            li Согласование деталей видеосъемки с клиентом
            li Профессиональная видеосъемка
            li Работа со звуком (озвучка, подбор музыки)
            li Видеомонтаж/цветокоррекция
            li Анимация/спецэффекты, добавление титров
          p Дополнительно: привлечение профессиональный актеров, моделей. Поиск и подготовка локации для съемок. Аренда дополнительного оборудования и инвентаря (автомобиль , костюмы, платья).
        .col-xs-12.col-sm-12.col-md-12.col-lg-10.start-xs
          .row.middle-xs
            .col-xs-12.col-md-8.start-md
              a.button.background-white.fancybox href="#callback" Заказать услугу
              a.button.fancybox href="/portfolio.html" Смотреть работы
            .col-xs-12.col-md-4.end-md
              .service-page__price
                | от 6 000 руб
                span.icon-question.tooltip title="2 000 руб/час ( минимум 3 часа или 10 000 рублей )"


  == Slim::Template.new(File.join(__dir__, "source/views/_footer.slim")).render(self)
